<div style="text-align:center; color: blue;">
<h1>All Book Details</h1>
</div>
<br><br>

<img src=<%= asset_path "book.jpg" %> class="w3-round" alt="" style="width:95vw"> 
<br><br>

<img src=<%= asset_path "BHP_Unrec_Stripe_PC.jpg" %> class="w3-round" alt="" style="width:95vw"> 

<br><br>
  
<div style="text-align: left; color: black;   text-size-adjust: 40vw;">
<h1>Recommendations to start your reading journey</h1>
</div>
<br><br>

<img src=<%= asset_path "bookselling.jpg" %> class="w3-round" alt="" style="width:18vw"> 
<img src=<%= asset_path "selfhelp.jpg" %> class="w3-round" alt="" style="width:18vw; align:left;"> 
<img src=<%= asset_path "bookbegin.jpg" %> class="w3-round" alt="" style="width:18vw; align:left;"> 
<img src=<%= asset_path "award.jpg" %> class="w3-round" alt="" style="width:18vw; align:left;"> 
<img src=<%= asset_path "topbook.jpg" %> class="w3-round" alt="" style="width:18vw; align:left;">
<img src=<%= asset_path "100 bikes.jpg" %> class="w3-round" alt="" style="width:18vw; align:left;">  


<br><br>

  
<div style="text-align: left; color: black;   text-size-adjust: 40vw;">
<h1>Business & Economics</h1>
</div>
<br><br>

<img src=<%= asset_path "https://www.amazon.in/b/?node=1318070031&ref_=Oct_d_odnav_d_1318068031_0&pd_rd_w=dgUtY&pf_rd_p=b185fab4-9bf9-4026-9df2-0aa0533ca508&pf_rd_r=050MDNXPTX8B35X6HA07&pd_rd_r=2b35cf45-7b55-4475-82bc-a2c74170c89c&pd_rd_wg=nA1Y0" %> class="w3-round" alt="" style="width:18vw"> 



